body{
font-family:Arial, sans-serif;
}
.color-picker-component{
display: flex;
flex-direction: column;
align-items: center;
}
.h1{
    margin:50px;
    font-size:3rem;
}
.color-display{
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid rgb(89, 132, 24);
    border-radius: 25px;
    margin-bottom: 25;

}
.color-display p{
 color:aquamarine;
 font-size:2em;
 text-align: center;
}
label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type='color']{
width:75px;
height:50px;
border-radius: 3px;
border: 5px solid grey;
padding: 5px;
}