body{
background-image: url(assets/imagesreact.jfif);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 0;
/* Optional*/
display:flex;
justify-content: center;
align-items:center;
min-height:100vh;


}
.container-clock{
    backdrop-filter:blur(50px);
  width:100vw;
  padding:10px 0,


}
.clock{
color:white;
font-weight:bold;
font-size: 6rem;
font-family:  monospace;
text-align: center;


}